.logo{
 height: 40px;
 margin: auto;
 display: block;
}
hr{
  color: blue;
}
h2{
  color: white;
  padding: 35px;

}
.homePageImg{
  height: 425px;
  background-size: cover;
  background-image: url('./assets/carPix.jpg') ;
 text-align: center;
 font-size: x-large;
}

.button{
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  background-color: blue;
  color: aliceblue;
  height: min-content;

}
.carButton{
  border-radius: 5px;
  background-color: blue;
  text-decoration: none;
  color: aliceblue;
 text-align: center;
 padding: 2px;
 box-shadow: 5px 10px 8px #888888;

}
.priceDiv{
  margin: 5px;
  width: 128px;
  margin-top: 10px;

}
.abutDiv{
  margin: 5px;
  margin-top: -8px;
}

section{
  padding: 5px;

}
form,.payment{
  width: 155px;
  height: 274px;
  border: 1px solid black;
  background-color: rgb(237, 245, 248);
  border-radius: 5px;

}
.payment{
  width: 210px;
  padding: 5px;
}
.CarList{
  width:  calc(100% - 99px);
  border: 1px solid black;
  background-color: rgb(237, 245, 248);
  padding: 10px;
  margin-left: 70px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.SelectAvehicle{
  display: flex;
  padding: 5px;
  margin: 5px;
}

.carSize{
  max-height: 100%;
}
.carSizeDiv{
  height: 31px;
  zoom: 165%;

}

.divCar{
  padding: 5px;

}